<div class="container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="header-style">Estacion</th>
          <th scope="col" class="header-style">Distancia</th>
          <th scope="col" class="header-style text-green">Regular</th>
          <th scope="col" class="header-style text-danger">Premium</th>
          <th scope="col" class="header-style font-weight-bold text-black">Diesel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competitor of competitorList">
          <th scope="row" class="body-style">{{ competitor.name | lowercase}}</th>
          <td class="body-style">{{ competitor.distance }} mts</td>
          <td class="body-style">
            {{ competitor.regular_selling_price !== false ? competitor.regular_selling_price : null | currency }}
          </td>
          <td class="body-style">
            {{ competitor.premium_selling_price !== false ? competitor.premium_selling_price : null | currency }}
          </td>
          <td class="body-style">
            {{ competitor.diesel_selling_price !== false ? competitor.diesel_selling_price : null | currency }}
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>